* {
	user-select: none;
}

@font-face {
	font-family: 'open-sans-regular';
	src: url('assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'open-sans-bold';
	src: url('assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
	font-family: 'open-sans-bold';
	src: url('assets/fonts/OpenSans-ExtraBold.ttf');
}

body{
	background-color: transparent !important;
}
